@page "/O_Productos"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>OrdenarProducto</PageTitle>

<div class="card-header">
	<h3 class="card align-items-center">Tienda</h3>
</div>


@code {

}
