@page "/O_Productos"

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Lista de Productos - PharmaTracker</PageTitle>

<div class="card-header">
	<h3 class="card align-items-center">Tienda</h3>
</div>


        @*Prueba*@

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="" class="card-img-top" alt="Opción 1">
                <div class="card-body">
                    <h5 class="card-title">Prueba</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://cdn-icons-png.flaticon.com/512/883/883356.png" class="card-img-top" alt="Opción 2">
                <div class="card-body">
                    <h5 class="card-title">Medicamento</h5>
                </div>
            </div>
        </div>
    </div>
</div

@code {

}
