@page "/legal/codinciones"

<PageTitle>PharmaTracker Codiciones</PageTitle>

<h1>Condiciones de Servicio</h1>

<p>Por favor, lee detenidamente estas Condiciones de Servicio antes de utilizar nuestros servicios en PharmaTracker. Al acceder o utilizar cualquier parte de nuestros servicios, aceptas estar sujeto a estas condiciones.</p>

<h2>Uso de Nuestros Servicios</h2>

<p>Al utilizar nuestros servicios, te comprometes a seguir las leyes aplicables y estas Condiciones de Servicio. No debes utilizar nuestros servicios de manera que puedan dañar, deshabilitar o perjudicar nuestras plataformas, servidores o redes.</p>

<h2>Contenido de Usuario</h2>

<p>Al contribuir con contenido de usuario a nuestros servicios, garantizas que tienes los derechos necesarios para hacerlo y aceptas que tu contenido cumpla con estas condiciones. Nos reservamos el derecho de eliminar o modificar cualquier contenido que viole estas condiciones o la ley.</p>

<h2>Privacidad</h2>

<p>Tu privacidad es importante para nosotros. Consulta nuestra <a href="/legal/politica_privacidad" id="terms-link" target="_blank" rel="nofollow">Política de Privacidad</a>   para comprender cómo manejamos tus datos personales cuando utilizas nuestros servicios.</p>

<h2>Modificaciones a los Servicios</h2>

<p>Nos reservamos el derecho de modificar o discontinuar nuestros servicios (o cualquier parte de ellos) en cualquier momento y sin previo aviso. No seremos responsables ante ti ni ante terceros por cualquier modificación, suspensión o interrupción de los servicios.</p>

<h2>Limitación de Responsabilidad</h2>

<p>En la medida permitida por la ley, PharmaTracker y sus afiliados no serán responsables de ningún daño directo, indirecto, incidental, especial, consecuente u ejemplar que pueda surgir del uso de nuestros servicios.</p>

<h2>Disposiciones Generales</h2>

<p>
	Estas Condiciones de Servicio constituyen el acuerdo completo entre tú y PharmaTracker con respecto a tus servicios y reemplazan cualquier acuerdo previo. Estas condiciones están regidas por las leyes de Rep&uacute;blica Dominicana y cualquier disputa estará sujeta a la jurisdicción de los tribunales de San Francisco de Macor&iacute;s
	.
</p>

<p>Gracias por utilizar nuestros servicios. Si tienes preguntas sobre estas condiciones, contáctanos en ContactosPharmaTracker@gmail.com </p>


@code {

}
