@page "/"
@layout LoginLayout

@inject HttpClient httpClient
@inject AuthenticationStateProvider authenticationProvider
@inject NavigationManager navManager
@inject NotificationService notificationService
@using Microsoft.AspNetCore.Components.Authorization


<PageTitle>Login</PageTitle>

<div class="container mt-md-5">
    <div class="row justify-content-md-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header text-center">
                    <img src="https://media.discordapp.net/attachments/855103306766352395/1177958331487371284/image.png?ex=6574662f&is=6561f12f&hm=41407a243b348be3b1aeaa524d6ee18dc1b40bbd3928ad074115e1a990b52f01&=&format=webp&width=982&height=420" alt="Logo de PharmaTracker" class="mb-3" style="max-width: 100px;" />

                    <h1 class="h2">PharmaTracker</h1>
                </div>
                <div class="card-body">

                    <div class="form-floating mb-3">
                            <input id="email" class="form-control" @bind="login.Correo" placeholder="Correo" />
                            <label for="email">Correo</label>
                    </div>

                    <div class="input-group mb-3">
                        <div class="form-floating form-floating-group flex-grow-1">
                            <input type=@((mostrarContraseña) ? "text" : "password") class="form-control" name="Contraseña" @bind="login.Clave" placeholder="Contraseña">
                            <label for="Contraseña">Contraseña</label>
                        </div>
                        <button @onclick="MostrarContraseña" class="btn btn-secondary" type="button">
                            @if (mostrarContraseña)
                            {
                                <i class="oi oi-eye"></i>
                            }
                            else
                            {
                                <i class="oi oi-dial"></i>
                            }
                        </button>
                    </div>

                    <p> ¿No tienes una cuenta? <a href="Registro">Registrate</a></p>

                    <div class="d-grid gap-2">
                        <button class="btn btn-lg btn-primary btn-block" type="submit" @onclick="IniciarSesion">Iniciar Sesión</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    private LoginDTO login = new LoginDTO();

    private async Task IniciarSesion()
    {
        if (string.IsNullOrEmpty(login.Correo) || string.IsNullOrEmpty(login.Clave))
        {
            var mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Warning,
                    Summary = "Aviso",
                    Detail = "Por favor, ingrese su correo electrónico y contraseña.",
                    Duration = 3_000
                };
            notificationService.Notify(mensaje);
            return; 
        }

        var loginResponse = await httpClient.PostAsJsonAsync<LoginDTO>("/api/Usuario/Login", login);

        if (loginResponse.IsSuccessStatusCode)
        {
            var userSession = await loginResponse.Content.ReadFromJsonAsync<SesionDTO>();
            var authenticationExt = (AuthenticacionExtension)authenticationProvider;
            await authenticationExt.UpdateStatusAuthentication(userSession);

            navManager.NavigateTo("/Index");
        }
        else if (loginResponse.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {

            var mensajeError = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Correo electrónico o contraseña incorrecta",
                    Duration = 3_000
                };
            notificationService.Notify(mensajeError);

        }
    }


    private bool mostrarContraseña = false;

    private void MostrarContraseña()
    {
        mostrarContraseña = !mostrarContraseña;
    }
}
