@page "/legal/politica_privacidad"

<PageTitle>PharmaTracker Política de Privacida</PageTitle>

<h1>Política de Privacidad</h1>

<p>Bienvenido a nuestra política de privacidad. En PharmaTracker, nos comprometemos a proteger la privacidad de la información personal que puedas proporcionarnos. A continuación, te explicamos cómo gestionamos tus datos:</p>

<h2>Recopilación de Datos</h2>

<p>Recopilamos información personal, como nombre, dirección de correo electrónico y número de teléfono, solo cuando nos la proporcionas voluntariamente al utilizar nuestros servicios o interactuar con nosotros.</p>

<h2>Uso de la Información</h2>

<p>Utilizamos la información recopilada para proporcionarte nuestros servicios, mejorarlos, responder a tus consultas y personalizar tu experiencia. No compartimos tu información con terceros sin tu consentimiento explícito.</p>

<h2>Seguridad de los Datos</h2>

<p>Implementamos medidas de seguridad para proteger tu información contra accesos no autorizados, divulgación o destrucción. Utilizamos protocolos de cifrado y prácticas de seguridad estándar de la industria.</p>

<h2>Cookies y Tecnologías Similares</h2>

<p>Nuestro sitio web utiliza cookies y tecnologías similares para mejorar tu experiencia en línea. Puedes gestionar las preferencias de cookies a través de la configuración de tu navegador.</p>

<h2>Optar por no Participar</h2>

<p>Si no deseas proporcionar ciertos datos, puedes optar por no participar y abstenerse de utilizar ciertas funciones de nuestros servicios que requieran la recopilación de dicha información.</p>

<h2>Actualizaciones de la Política</h2>

<p>Podemos actualizar esta política de privacidad ocasionalmente para reflejar cambios en nuestras prácticas. Te recomendamos revisar periódicamente esta página para estar informado sobre cómo protegemos tu privacidad.</p>

<h2>Contacto</h2>

<p>Si tienes preguntas sobre nuestra política de privacidad, por favor, contáctanos en ContactosPharmaTracker@gmail.com</p>

<p>Agradecemos tu confianza al elegir PharmaTracker.</p>



@code {

}
