@inherits LayoutComponentBase

@using PharmaTracker.Client.Extensions
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider authenticationProvider
@inject NavigationManager navManager

<RadzenComponents />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="top-row px-4">
        <TopMenu />
    </div>

    <main>         
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

}
