@inject ISyncSessionStorageService SessionStorageService
@inject ICarritoService CarritoService
@implements IDisposable

<a href="carrito" class="btn btn-info"> 
    <i class="oi oi-cart"></i> 
    Carrito
    @ObtenerCantidadProductos()
    <span class="badge badge-pill">@ObtenerCantidadProductos()</span>
</a>


@code{

    protected override void OnInitialized()
    {
        CarritoService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CarritoService.OnChange -= StateHasChanged;
    }

    private int ObtenerCantidadProductos()
    {
        var carrito = SessionStorageService.GetItem<List<Productos>>("carrito");
        if (carrito == null)
        {
            return 0;
        }
        return carrito.Count;
    }
}

